<!doctype html>
<html>
<head>
	<title>Smash Bros</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
            width: 100%;
        }

        li {

        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>
</head>


<!-- Put a nav bar to navigate the pages-->
<ul class="navbar">
    <li class="navbar"><a class="navbar" style="float: left" href="/">Home</a></li>
    <li class="navbar"><a class="navbar" style="float: left" href="/roster">Roster</a></li>
    <li class="navbar"><a class="navbar" style="float: left" href="/character">Character</a></li>
    <li class="navbar"><a class="navbar" style="float: right" href="/sign_up">Sign up/in</a></li>
    <li class="navbar"><a class="navbar" style="float: right" href="">Logout</a></li>
    <!-- Home -->
    <!-- Roster -->
    <!-- Character -->
    <!-- Logout -->
    <!-- Sign up -->
    <!-- Sign in -->

</ul>
<br>

<body>
	{{{body}}}
</body>

</html>