<h2>Characters</h2>


<table>
    <tr>
        <td>List all characters with links</td>
    </tr>
</table>

<table>
    <tr>
        <td>List all comments about characters here</td>
    </tr>
</table>
