<h1>This list everything for a single roster here</h1>

<h3>Creator: {{author}}</h3>


<table>
    <tr>
        <td>Every character in the roster</td>
    </tr>
</table>

<p>Form right here to add a character to this roster.</p>


<h4>Comments:</h4>

<p>Form right here to add a comment.</p>
<form></form>


<table>
    <tr>
        <td>Author HERE</td>
    </tr>
    <tr>
        <td>Comment HERE</td>
    </tr>
</table>



